.footer

  &__inner
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 38px
    padding-bottom: 38px
    background-image: url(/img/footer-bg.png)
    background-repeat: no-repeat
    background-size: contain
    background-position: 67% center

  &__phone
    margin-right: 40px

  &__social

    & .socials__link
      width: 30px
      height: 30px

    & .socials__item

      & + li
        margin-left: 10px

  &__link
    margin-left: 40px

  &__content
    margin-left: auto

  &__copy
    margin-bottom: 10px
    font-weight: 600
    color: #46404C

  &__link-politic
    font-weight: 600
    color: #8D8D93

.container

.phone

  &__text

.hover-opacity

.icon

.socials

  &__item

  &__link

  &__link-vb

  &__link-wp

.btn-1
