- const header_nav = [[`О компании`,`#about`],  [`Новости`,`#about`], [`Дни рождения`,`#about`], [`Библиотека`,`#about`], [`Галерея`,`#about`]]

- const modal_request_list = [`Ответим все на ваши вопросы`,`Подберем лучшие варианты по материалам`,`Поможем определиться с\u00A0моделями`,`Подготовим расчет стоимости изготовления`]

-const services_type = [[`Уникальная униформа для\u00A0HoReCa`,`от повара до уборщицы`],  [`Спецодежда для сферы обслуживания`,`костюмы, халаты, головные уборы `], [`Интерьерный текстиль `,`от салфеток до постельного белья `], [`Веранды, тенты и шатры`,`проекты любой сложности`]]
