include ../modules/_head

body.page-body
  include ../helpers/arrays

  block link-active
  include ../modules/_header

  

    
  main.page-main
    block content

  include ../modules/_footer

  


  include ../modules/_modal-request
  include ../modules/_modal-thanks
  include ../modules/_scripts
