include ../modules/_head.pug

body.page-body
  include ../helpers/arrays

  block link-active
  include ../modules/_header

  

    
  main.page-main
    block content

  include ../modules/_footer.pug

  


  include ../modules/_modal-request.pug
  include ../modules/_scripts.pug
